{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post" class="row">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal mt-5 text-xxl-center">Merci de vous connecter</h1>
    <div class="log d-flex mt-4  col-sm-12 m-lg-3"> 
        <label for="inputEmail" class="mel form-select-lg link-info">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-25 border border-success-subtle border-2 " autocomplete="email" required autofocus>
        <label for="inputPassword" class="pass form-select-lg link-success">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control w-25 border border-success-subtle border-2" autocomplete="current-password" required>
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </div>
    <button type="submit" class="btn btn-lg btn-warning col-sm-auto link-dark mt-3 modal-dialog border border-2 border-success" >
        Sign in
    </button>
</form>
{% endblock %}
