{% extends 'base.html.twig' %} 
{% block title %} {% endblock %} 
{% block body %}
<h1 class="h1 text-xl-center mt-3 fst-italic"><span class="mon link-info">Mon</span>
  <span class="blog link-primary">Blog</span> à <span class="moi link-warning">moi !</span></h1>


<div class="example-wrapper text-xl-center mt-3 d-flex">

  <div class="row row-cols-1 row-cols-md-2 g-4 row-cols-lg-3 mt-1">
    {% for article in articles %}

    <div class="col m-md-4">
      <div class="card border border-1 border-warning">
        <img
          src="{{ asset('images/articles/' ~ article.image)}}"
          class="card-img-top"
          alt="{{ article.title }}"
        />
        <div class="card-body">
          <h5 class="card-title link-success">{{ article.title | upper }}</h5>


          <button class="btn btn-secondary my-2 my-sm-0 link-success mt-2" ><a href="{{ path('show', { id: article.id }) }}"  class="btn btn-primary my-2 my-sm-0 link-success mt-2"
            >En Savoir plus</a>

          <p class="card-text link-warning h6 mt-2">
            {{ article.createdAt|date('d.m.Y H:i:s')}}
          </p>
          <p class="card-text link-warning h6 mt-2">par {{ article.auteur }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="filtre m-md-4  text-xxl-end ">
    <h1 class="catego link-warning fst-italic">Catégories</h1>
    <ul class="list-group p-1 border border-1 border-success">
      <li
      class="list-group-item align-items-center"
      >
      {% for category in categories %}
      <a class="btn btn-outline-warning mt-2 border-primary border-3 list-group-item fw-bold"
       
        href="{{ path('show_filter', { 'id': category.id }) }}"
        >{{category.title}}</a
        >
        <span class="bg-primary btn bi mt-2 ">{{ category.articles | length }}article(s)</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


{# {% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {{ app.session.flashBag.get('success').0 }}
    </div>
{% endif %} #}


{% endblock %} 

{# code formateur
<div class="row">
  {% for article in articles %}
  <div class="card col-md-4" style="width: 18rem">
    <p class="date">{{ article.createdAt | date("d/m/y")}}</p>
    <img
      src="{{ article.image }}"
      class="card-img-top"
      alt="{{ article.title }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <a href="#" class="btn btn-primary">En Savoir plus</a>
    </div>
  </div>
  {% endfor %}
</div>
#}
