 
 
 
 {# {% if success_message is not empty %}
      <div class="alert alert-success">
          {{ success_message }}
      </div>
      {% endif %} #}


<nav class="navbar navbar-expand-lg fw-semibold shadow border border-warning-subtle" data-bs-theme="dark">

    <div class="collapse navbar-collapse" id="navbarColor01">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link active link-primary ms-2 " href="{{path('app_home')}}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-info ms-2 " href="{{path('admin')}}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-primary ms-2 " href="{{path('app_contact')}}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-info ms-2 " href="{{path('app_account')}}">Membre</a>
        </li>


        <li class="nav-item">
          {% if app.user %}
          <button class="btn btn-outline-primary my-2 my-sm-0 fw-medium border border-1 border-info ms-2 sf-ajax-request-url" ><a href="{{ path('app_logout') }}" class="nav-link ">Se déconnecter</a></button>
          
          {% else %}
          <button class="btn btn-outline-primary my-2 my-sm-0 fw-medium border border-1 border-primary ms-2 sf-ajax-request-url" >          <a href="{{ path('app_login') }}" class="nav-link link-success">Se connecter</a>
          </button>
          <button class="btn btn-outline-primary my-2 my-sm-0 fw-medium border border-1 border-warning ms-2 sf-ajax-request-url" ><a href="{{ path('app_user') }}" class="nav-link link-info">Inscription</a></button>
          
          {% endif %}
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2 fw-medium link-info ms-3 border border-success" type="search" placeholder="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 fw-medium border border-1 border-warning ms-2" type="submit">Search</button>
      </form>
    </div>
</nav>


{# 
        code formateur 
        {% if app.user %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{path('app_user')}}">Inscription</a>
                    </li>
                  {% endif %} #}
